/*
-----------------------------------------------
Site Name
author:   Jeremy Ricketts
version:  July 6 2006
----------------------------------------------- */

/* FOR PRINT --  FOR PRINT --  FOR PRINT --  FOR PRINT  --  

This style sheet can totally reinvision the site for printing.  I'd
suggest importing the original style sheet and just start working out the kinks. */

@import url("base.css");
@import url("layout.css");
@import url("nav.css");

/* Begin fixing crap
=================================================*/

h1 {
	color:#0099CC;
	text-align:left;
	font-size:1.5em;
	}